
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.header-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--color-dark-gray);
}
.header-actions{
    display: flex;
    align-items: center;
    gap: 15px;
}

button{
    background: none;
}

.burger-menu{
    position: relative;
}

.menu-body{
    position: absolute;
    top: 0;
}