@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    color-scheme: dark;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--color-dark);
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

:root {
    --color-accent: #ffc814;
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-light-gray: #181817;
    --color-dark-gray: #121110;

    --container-width: 353px;

    --transition-duration: 0.2s;
}

.container {
    max-width: var(--container-width);
    margin-inline: auto;
}

.title-color{
    color: var(--color-accent);
}
