:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7.5rem;
    margin-top: 12.5rem;
}

.auth-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    .auth-title {
        font-size: 1.25rem;
        font-weight: 600;
        > span {
            color: var(--color-accent);
        }
    }
    .auth-status {
        font-weight: 400;
        font-size: 16px;
        
    }
    .success {
        color: #3E8C2A;
    }

    .fail {
        color: #B63737;
    }
}
